
{{ if .Site.GoogleAnalytics }}
  <!-- Google Analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ partial "footer/font-awesome-js.html" . }}
{{ partial "highlight-js.html" . }}
{{ with .Params.toc }}
{{ if (eq . "tocbot") }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.js"></script>
<script type="text/javascript">
  if (tocbot) {
    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.post',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h2',
      collapseDepth: 4
    });
  }
</script>
{{ end }}
{{ end }}

{{ with .Params.flexslider }}
{{ if (eq . true) }}
{{ $js := resources.Get "js/jquery.flexslider-min.js" }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

<script type="text/javascript">
  $(document).ready(function() {
   $('.flexslider').flexslider({
     animation: "slide",
     controlNav: "thumbnails",
     slideshow: false
   });
  });
</script>
{{ end }}
{{ end }}
