// for the list of posts

.section__title {
	font-size: $section__title-font-size;
	color: $gray-0;
	margin-top: .8em;
	padding-bottom: 0.5rem;
	border-bottom: 4px solid $neongreen;
}

@media (min-width: 320px) and (max-width: 767px) {

	.section__title {
		font-size: $section__title-font-size-small;
	}
}

.post-list__item {
	margin-bottom: 3em;
}

.item__title--big {
	display: block;
	font-size: $item__title-big-font-size;
	line-height: 1.25;
}

.item__title--small {
	font-size: 1rem;
}

.item__date {
	color: $item__date-color;
	display: block;
	font-size: $item__date-font-size;
	margin-bottom: .2rem;
	margin-top: .2rem;
}

@media (min-width: 320px) and (max-width: 767px) {

	.list__grid {
		display: grid;
		grid-template-columns: repeat( 1, minmax(250px, 1fr) );
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}

}

@media (min-width: 768px) and (max-width: 1199px) {

	.list__grid {
		display: grid;
		grid-template-columns: repeat( 2, minmax(175px, 1fr) );
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}

}

@media (min-width: 1200px) {
	.list__grid {
		display: grid;
		grid-template-columns: repeat( 3, minmax(250px, 1fr) );
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}
}

.list__item {

}

.list_taxitem{
	margin-bottom: 1rem;
}

.list__title {
	font-size: 1.2rem;
	font-weight: bolder;
}

.list_taxtitle {
	font-size: 1.2rem;
	font-weight: bolder;
}

.list_taxtitle > a {
	color: $neongreen;
}

.list__subtitle {
	font-size: 1rem;
	font-weight: normal;
}

.list__meta {
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.list__teaser {
	width: 100%;
	height: 150px;
	object-fit: cover;
}

.list__list__title {
	display: inline-block;
}

.list__list__title > span {
	display: inline-block;
}

.list__list__subtitle {
	padding-left: 1rem;
}

.list__list > .list__item {
	margin-bottom: 1em;
}

.section__header {
	display: inline-block;
}

.section__header > span {
	display: inline-block;
}

.grid__toggle {
	padding-top: 8px;
}

.grid__toggle a {
	cursor: pointer;
	color: #fff;
	padding: 10px 0 10px 0px;
	&:hover {
		@include link-no-decoration();
	}
}

.tag{
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.list__hidden {
	display: none;
}

@for $i from 2 through 100 {
    @if $i <= 12 {
			$sizer: 1em + ( 2 / 5 ) * $i;
			.font_size_#{$i} { font-size: $sizer; }
		}else{
			.font_size_#{$i} { font-size: 5em; }
		}
}

.new_sidebar {
	float: right;
	width: 40%;
	max-width: 250px;
	margin-left: 1em;
	padding-right: 1em;
	padding-left: 1em;
	background: rgba(0, 0, 0, 0.1);
}

.new_sidebar .list__item {
	margin-bottom: 1em;
}

.new_sidebar > hr {
	width: 110%;
	margin-left: -5%;
}

.new_sidebar .list__title {
	text-align: center;
}

.new_sidebar .list__meta {
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
}

.new_sidebar .list__subtitle {
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.new_list .list__item {
	margin-bottom: 1em;
}

@media (min-width: 320px) and (max-width: 991px) {
	.new_sidebar{
		display: none;
	}

	.new_list{
		display: block;
	}
}

@media (min-width: 992px) {
	.new_sidebar{
		display: block;
	}

	.new_list{
		display: none;
	}
}
