

  {{ range first 3 . }}
    <hr>
  <div class="list__item">
      {{ if .Params.header.teaser }}
      <a href="{{ .RelPermalink }}">
      <img class="list__teaser" src="{{ .Params.header.teaser }}">
      </a>
      {{ end }}
      <div class="list__title">
        <span>
          <a href="{{ .RelPermalink }}" {{if .Draft}}class="draft"{{end}}>{{ .Title }}</a>
        </span>
      </div>
      <div class="list__meta">
        <span>
        {{ if not .Date.IsZero }}
          <i class="fas fa-calendar-alt"></i> {{ .Date.Format (.Site.Params.dateformat | default "Jan 02, 2006") }}<br>
        {{ end }}
        </span>
      </div>
      <div class="list__subtitle">
      {{ with .Params.subtitle | markdownify }}
      <span>
      {{ . }}
      </span>
      {{ else }}
        {{ with .Params.excerpt  | markdownify }}
        <span>
        {{ . }}
        </span>
        {{ end }}
      {{ end }}
      </div>
  </div>
  {{ end }}
